.article-container {
    padding: 20px;
    margin: 100px;
    border: 1px solid #ddd;
    border-radius: 2px;
    background-color: #413f3f;
}

.article-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #f1ecec;
}

.article-abstract {
    font-size: 16px;
    color: #f3f0f0;
}

.article-journal {
    font-size: 20px;
    color: #888;
    margin-bottom: 10px;
}

